@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
:root {
  --Scissors-Gradient: hsl(39, 89%, 49%);
  --Paper-Gradient: hsl(230, 89%, 62%);
  --Rock-Gradient: hsl(349, 71%, 52%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 100%;
  background-image: url(./images/gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-transform: uppercase;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.title {
  width: 60%;
  height: 80%;
  border-radius: 10px;
  border: 3px solid var(--Header-Outline);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-name {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
  font-size: 30px;
}
.score {
  width: 170px;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}
.score h1 {
  color: var(--Dark-Text);
  font-size: 52px;
}
.score h5 {
  color: var(--Score-Text);
  font-size: 18px;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
}

.winner-loser {
  text-align: center;
  text-transform: uppercase;
}

.main {
  width: 100%;
  height: 320px;
  margin-top: 40px;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.paper-scissors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.rock,
.paper,
.scissors {
  width: 160px;
  height: 160px;
  border-radius: 99999px;
  cursor: pointer;
  background-color: #fff;
}
.rock:hover,
.paper:hover,
.scissors:hover {
  transform: scale(0.95);
}
.rock {
  background-image: url(./images/icon-rock.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 20px solid var(--Rock-Gradient);
}
.paper {
  background-image: url(./images/icon-paper.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: 20px solid var(--Paper-Gradient);
}
.scissors {
  background-image: url(./images/icon-scissors.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: 20px solid var(--Scissors-Gradient);
}

.last {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.rules-btn {
  margin-right: 30px;
  width: 150px;
  height: 50px;
  background: transparent;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid var(--Header-Outline);
  cursor: pointer;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 22px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.rules-btn:hover {
  background-color: #fff;
  color: var(--Header-Outline);
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  visibility: hidden;
  transition: all 0.4s linear;
}
.modal::before {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.927608543417367) 0%,
    rgba(0, 0, 0, 0.75) 28%,
    rgba(0, 0, 0, 0.5410539215686274) 45%,
    rgba(0, 0, 0, 0.75) 82%
  );
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}
.show-modal {
  z-index: 10;
  visibility: visible;
  transition: all 0.4s linear;
}
.close-btn {
  cursor: pointer;
  margin-right: 15px;
}

.items {
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: var(--Dark-Text);
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 20px;
}
.title-closebtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-closebtn h1 {
  margin-left: 15px;
}

.in-game {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  height: 320px;
  margin-top: 40px;
  color: #fff;
}
.player-pick,
.house-pick {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 30%;
  color: #fff;
  font-size: 32px;
}

.play-again {
  color: #fff;
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: space-evenly;
  flex-direction: column;
}
.play-again h1 {
  font-size: 52px;
  color: #fff;
}
.play-btn {
  width: 190px;
  height: 55px;
  background: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid var(--Header-Outline);
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.play-btn:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 950px) {
  .title {
    width: 90%;
  }
  .score {
    width: 150px;
    height: 70%;
  }
  .paper-scissors {
    width: 60%;
  }
  .player-pick h1,
  .house-pick h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .items {
    width: 55%;
    height: 60%;
  }
  .player-pick,
  .house-pick {
    width: 60%;
  }
  .play-again h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 650px) {
  .paper-scissors {
    width: 75%;
  }
}

@media screen and (max-width: 553px) {
  .paper-scissors {
    width: 90%;
  }
  .rock,
  .paper,
  .scissors {
    width: 130px;
    height: 130px;
  }
  .score {
    width: 130px;
    height: 65%;
  }
  .game-name {
    font-size: 25px;
  }
  .btns {
    width: 90%;
  }
  .score h1 {
    font-size: 52px;
  }
  .score h5 {
    font-size: 16px;
  }
  .items {
    width: 85%;
  }
  .player-pick,
  .house-pick {
    width: 70%;
  }
  .player-pick h1,
  .house-pick h1 {
    font-size: 22px;
  }
  .play-btn {
    width: 160px;
    height: 45px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    width: 99%;
  }
  .paper-scissors {
    width: 96%;
  }

  .score {
    width: 110px;
    height: 65%;
  }
  .rules-btn {
    margin: 40px 0;
  }
  .items {
    width: 90%;
  }
  .in-game {
    flex-direction: column;
    height: auto;
  }
  .player-pick,
  .house-pick {
    width: 100%;
    margin: 20px 0;
  }
  .player-pick h1,
  .house-pick h1 {
    margin: 15px 0;
  }
}
@media screen and (max-width: 375px) {
  .paper-scissors {
    width: 100%;
  }

  .score {
    width: 90px;
    height: 55%;
  }
  .btns {
    width: 100%;
  }
  .items {
    width: 98%;
  }
  .game-name {
    font-size: 20px;
  }
  .text {
    font-size: 20px;
  }
}
